{
    email chapmlinks@gmail.com
    acme_ca https://acme.zerossl.com/v2/DV90
    acme_eab {
        key_id uWbcH3X52RrjW42TJECv9A
        mac_key kHNR7DP4uoJA_jLmD8su0g6JN-V16gj08LX8PoyxR3FbHRE6WRagAn2HOvRbgTKpoTsmqC5bbUSbwQji3WGOkw
    }

    auto_https off
}

# Catch-all for any request on port 80
:80 {
    # Set the root for the ENTIRE block first
    root * /srv/element
    encode gzip

    # 1. Server Discovery
    handle_path /.well-known/matrix/* {
        file_server
    }

    # 2. Custom Branding
    @branding path /config.json /welcome.html /icon.png /background.jpg
    handle @branding {
        file_server
    }

    # 3. Matrix API Proxy
    handle /_matrix/* {
        reverse_proxy tuwunel:6167
    }

    # 4. Main App fallback
    handle {
        try_files {path} {path}/ /index.html
        file_server
    }
}
