{
    email chapmlinks@gmail.com
    acme_ca https://acme.zerossl.com/v2/DV90
    acme_eab {
        key_id uWbcH3X52RrjW42TJECv9A
        mac_key kHNR7DP4uoJA_jLmD8su0g6JN-V16gj08LX8PoyxR3FbHRE6WRagAn2HOvRbgTKpoTsmqC5bbUSbwQji3WGOkw
    }
}

sky0cloud.dpdns.org {
    # Force compression
    encode zstd gzip

    # Matrix API Proxy - Priority #1
    handle /_matrix/* {
        reverse_proxy http://tuwunel:6167
    }
    handle /_synapse/client/* {
        reverse_proxy http://tuwunel:6167
    }

    # Discovery Files
    handle_path /.well-known/matrix/* {
        root * /srv/well-known/matrix
        file_server
    }

    # Element Static Site - Priority #2
    handle {
        root * /srv/element
        
        # This version of try_files is safer against 308 loops
        try_files {path} /index.html
        
        # Disable automatic trailing slash redirects to stop the 308 loop
        file_server {
            hide .git
        }
    }
}
