sky0cloud.dpdns.org {
    encode zstd gzip

    @root {
        path /
    }
    handle @root {
        redir https://{host}/#/login 302
    }

    handle_path /.well-known/matrix/* {
        root * /srv/well-known/matrix
        header Content-Type application/json
        file_server
    }

    @matrix path /_matrix/* /synapse/*
    reverse_proxy @matrix conduwuit:6167

    reverse_proxy /* element-web:80
}
